html,
body {
  height: 100%;
  width: 100%;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
legend {
  padding: 0;
  margin: 0;
  color: #5f5965;
}

body {
  font:
    12px / normal Verdana,
    Arial,
    Helvetica,
    sans-serif;
}

ul,
li {
  list-style-type: none;
  text-transform: capitalize;
}

a {
  color: #5f5965;
  text-decoration: none;
}

a:hover {
  color: #d78779;
  text-decoration: none;
}

@media screen and (min-width:765px) {
  #phone_guide_bar,
  #space,
  #search_button,
  #phone_footer,
  #workshop_index {
    display: none;
  }
}

@media screen and (max-width: 764px) {
  #Bar,
  #main_bar,
  #footer,
  #site_name,
  #space_box {
    display: none;
  }

  #phone_guide_bar {
    font-size: 16px;
  }
}

/* 電腦版 */
/* Choice Bar */
#nav {
  border: 0;
  text-align: center;
  height: 30px;
  margin: 0 auto 30px;
  width: auto;
  display: block;
}

#nav .jquery_out {
  float: left;
  line-height: 30px;
  display: block;
  text-align: center;
  color: #fff;
  background: #d78779;
  display: table;
  margin: 0 auto;
}

#nav .jquery_inner {
  margin-left: 16px;
}

#nav .jquery {
  margin-right: 1px;
  padding: 0 2em;
}

#nav .main_menu {
  width: 100px;
  height: 30px;
  display: inline-block;
  color: #5f5965;
}

#nav .main_menu:hover {
  background-color: #d7877940;
  width: 100px;
  height: 30px;
  display: inline-block;
  color: #5f5965;
}

#nav .main_menu a {
  color: #5f5965;
  text-decoration: none;
  line-height: 30px;
  display: block;
  padding: 0 10px;
  width: 100px;
  height: 30px;
  border: 0;
  float: left;
  overflow: hidden;
}

#nav .main_menu a:hover {
  color: white;
  text-decoration: none;
  background-color: #5f5965;
  padding-top: 30px;
}

#nav span {
  display: block;
  margin-top: -30px;
}

#nav .main_menu ul {
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 990;
  background-color: #dad1ce;
}

#nav .main_menu li {
  background-color: #dad1ce;
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: block;
  float: left;
  overflow: hidden;
  text-align: center;
}

#nav .list_menu li {
  color: #5f5965;
  background-color: #ffffffb4;
}

/* Bar */
#Bar {
  margin: right;
}

/* Logo */
#Logo {
  float: Top;
}

/* footer-start */
/* 電腦版 */
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: #5f5965;
}

#footer,
#phone_footer a {
  color: #5f5965;
  text-decoration: none;
}

#footer,
#phone_footer a:hover {
  color: #d78779;
  text-decoration: none;
}

/* 手機板 */
#phone_footer {
  background-color: #dad1ce;
  font-size: 10px;
  color: #5f5965;
  height: auto;
  line-height: 24px;
  vertical-align: middle;
}

/* footer-end */
/* 手機板 */
#navbar_bar {
  background-color: #000000cc;
  margin-top: 7px;
}

#navbar_bar span {
  margin-left: 15px;
}

#icon {
  margin-left: 5px;
  margin-right: 10px;
}

.dropdown-menu {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  border: none;
}

.dropdown-item {
  border-radius: 5px;
  height: 40px;
  color: #c2c2c2;
}

#phone_guide_bar {
  margin: inherit;
  width: 100%;
  background-color: white;
  border-bottom: #ccc 2px solid;
}

#nav_btn {
  background-color: transparent;
  border: none;
}

#navbar_bar_user,
#navbar_bar_main,
#navbar_bar_footer {
  color: #fff;
}

.nav-link {
  margin-top: 1px;
  height: 55px;
  line-height: 36px;
}

.nav-link:hover {
  background-color: #fff;
  color: black;
  margin-top: 1px;
  height: 55px;
  line-height: 36px;
  border-radius: 5px;
}

a.nav-link {
  color: white;
}

.side-collapse-container-left {
  position: relative;
  left: 0;
  transition: left 0.3s;
}

.side-collapse-container-left.out {
  left: 70%;
}

.side-collapse-left {
  width: 70%;
  top: 50px;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  transition: width 0.5s;
}

.side-collapse-left.in {
  width: 0;
}

/* DIY_studio */
#DIY_studio {
  color: #5f5965;
  line-height: 24px;
  padding-top: 15px;
}

#profession_class_introduce,
#basic_metal,
#advance_metal,
#test_c,
#test_b,
#mokumegane_class {
  height: 100%;
  line-height: 24px;
  color: #5f5965;
  /* margin-top: 15px; */
}

#class_img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#get_understand_button {
  float: right;
  background-color: #dad1ce;
  color: #5f5965;
  border: none;
  border-radius: 5px;
}

#get_understand_button:hover {
  background-color: #5f5965;
  color: #dad1ce;
}

/*手機板搜尋欄位 */
#search_button {
  background-color: transparent;
}

#search_bar {
  width: auto;
}

input[type="search"] {
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 85%;
  height: 36px;
  padding-left: 25px;
  outline: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #5f5965;
}

input[type="search"]::-webkit-search-cancel-button {
  padding-right: 15px;
}

#search_btn {
  height: 36px;
  width: 60px;
  border-radius: 5px;
  border: 0px;
}

#search_btn:hover {
  background-color: #5f5965;
  color: #fff;
}

/* 電腦版搜尋欄位 */
#web_search_button {
  width: 180px;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}

#web_search {
  height: 30px;
}

#web_search_btn {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: 0px;
}

#web_search_btn:hover {
  background-color: #5f5965;
  color: #fff;
}
